In [1]:
import pandas as pd
import os
#from google.colab import drive
#drive.mount('/content/drive')

In [2]:
endpoint = 'D:\Hanoi_CMH\Hanoi_CMH'
endpoint1 = 'D:\Leak_detection_code_1000sen'

## Leak

In [26]:
import pandas as pd
import numpy as np

# Create a random 5x10 numpy array
data = np.random.rand(5, 10)

# Create a dataframe from the numpy array with column names
df = pd.DataFrame(data, columns=['col1', 'col2', 'col3', 'col4', 'col5', 'col6', 'col7', 'col8', 'col9', 'col10'])

# Display the dataframe
df

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10
0,0.061725,0.968909,0.230338,0.100328,0.393612,0.134211,0.573309,0.379738,0.758192,0.465309
1,0.290542,0.584416,0.810191,0.501518,0.896703,0.672552,0.690720,0.436696,0.050317,0.191784
2,0.715758,0.895127,0.676794,0.953384,0.526752,0.955934,0.889949,0.751146,0.920948,0.453895
3,0.354165,0.688506,0.407957,0.586179,0.238987,0.902632,0.632310,0.542083,0.619139,0.988727
4,0.093506,0.501765,0.994736,0.548593,0.019425,0.282539,0.921117,0.359782,0.395757,0.913285

In [27]:
lists = [[] for _ in range(2)]
nl = [[] for _ in range(2)]

In [28]:
lists[0].append(df["col1"].tolist())
lists[0].append(df["col2"].tolist())

In [29]:
lists[1].append(df["col3"].tolist())
lists[1].append(df["col4"].tolist())

In [30]:
for i in range(len(lists)):
    nl[i] = sum(lists[i],[])
    lists[i] = nl[i]

In [31]:
lists

[[0.061725298739469636,
  0.29054214879780005,
  0.7157581165980621,
  0.3541645941929651,
  0.09350627817080936,
  0.9689093561256016,
  0.5844155807388748,
  0.8951266088188425,
  0.6885058704183816,
  0.5017649356830922],
 [0.23033775374934573,
  0.8101905076829865,
  0.6767940332767158,
  0.40795722619516617,
  0.9947356936732313,
  0.10032762486259406,
  0.501518211548721,
  0.9533844849770472,
  0.5861789322388155,
  0.5485932992048016]]

In [32]:
# leak_lists = [[] for _ in range(32)]
# for sen in range(1,1001):
# 	for i in range(1,33):
# 		file_name=f'{endpoint}/Scenario-{sen}/Leaks/Leak_{i}_demand.csv'
# 		if os.path.exists(file_name):
#     dt = pd.read_csv(file_name)
# 		else:
#             dt = pd.read_csv(f'{endpoint}/Duplicate.csv')
#         leak_lists[i-1].append(dt["Value"].tolist())

leak_lists = [[] for _ in range(32)]
for sen in range(1,1001):
  for i in range(1,33):
    file_name=f'{endpoint}/Scenario-{sen}/Leaks/Leak_{i}_demand.csv'
    if os.path.exists(file_name):
      dt = pd.read_csv(file_name)
    else:
      dt = pd.read_csv(f'{endpoint}/Duplicate.csv')
    leak_lists[i-1].append(dt["Value"].tolist())

In [33]:
nl = [[] for _ in range(32)]
for i in range(len(leak_lists)):
    nl[i] = sum(leak_lists[i],[])
    leak_lists[i] = nl[i]

In [34]:
import pandas as pd

# create empty dataframe with 32 columns
leak_df = pd.DataFrame(columns=[f"leak-{i}" for i in range(1, 33)])
for i in range(1, 33):
    leak_df[f"leak-{i}"] = leak_lists[i-1]
leak_df

,leak-1,leak-2,leak-3,leak-4,leak-5,leak-6,leak-7,leak-8,leak-9,leak-10,...,leak-23,leak-24,leak-25,leak-26,leak-27,leak-28,leak-29,leak-30,leak-31,leak-32
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17519995,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17519996,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17519997,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17519998,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17519999,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
'''
df_leak_list = []
for sen in range(1,1001):
	for i in range(1,33):
		file_name=f'{endpoint}/Scenario-{sen}/Leaks/Leak_{i}_demand.csv'
		if os.path.exists(file_name):
			dt = pd.read_csv(file_name)
		else:
			dt = pd.read_csv(f'{endpoint}/Duplicate.csv')
		dt.rename(columns={'Value':f'L_Node-{i}'}, inplace = True)
		dt['Scenario'] = sen     #creating a new column with sen number
		df_leak_list.append(dt)
'''

# Demand

In [36]:
'''
d_lists = [[] for _ in range(32)]
for sen in range(1,1001):
	for i in range(1,33):
		file_name = f"{endpoint}/Scenario-{sen}/Demands/Node_{i}.csv"
		dt = pd.read_csv(file_name)
		d_lists[i-1].append(dt["Value"].tolist())
'''

ParserError: Error tokenizing data. C error: out of memory

In [ ]:
'''
nl = [[] for _ in range(32)]
for i in range(len(d_lists)):
    nl[i] = sum(d_lists[i],[])
    d_lists[i] = nl[i]
'''

In [ ]:
'''
import pandas as pd

# create empty dataframe with 32 columns
d_df = pd.DataFrame(columns=[f"Demand-{i}" for i in range(1, 33)])
for i in range(1, 33):
    leak_df[f"Demand-{i}"] = d_lists[i-1]
d_df
'''

In [ ]:
'''
df_d_list = []

for sen in range(1,1001):
	for i in range(1,33):
		file_name = f"{endpoint}/Scenario-{sen}/Demands/Node_{i}.csv"
		dt = pd.read_csv(file_name)
		dt.rename(columns={'Value':f'D_node-{i}'}, inplace = True)
		dt['Scenario'] = sen     #creating a new column with sen number
		df_d_list.append(dt)
'''

# Pressure

In [4]:
%%time
p_lists = [[] for _ in range(32)]
for sen in range(1,1001):
	for i in range(1,33):
		file_name = f"{endpoint}/Scenario-{sen}/Pressures/Node_{i}.csv"
		dt = pd.read_csv(file_name,usecols=['Value'])
		p_lists[i-1].append(dt["Value"].tolist())

CPU times: total: 24.2 s
Wall time: 16min 6s

In [5]:
%%time
nl = [[] for _ in range(32)]
for i in range(len(p_lists)):
    nl[i] = sum(p_lists[i],[])
    p_lists[i] = nl[i]

CPU times: total: 33min 52s
Wall time: 42min 29s

In [13]:
%%time
import pandas as pd

# create empty dataframe with 32 columns
p_df = pd.DataFrame(columns=[f"Pressure-{i}" for i in range(1, 33)])
for i in range(1, 33):
    p_df[f"Pressure-{i}"] = p_lists[i-1]
p_df

CPU times: total: 51.2 s
Wall time: 3min 4s

,Pressure-1,Pressure-2,Pressure-3,Pressure-4,Pressure-5,Pressure-6,Pressure-7,Pressure-8,Pressure-9,Pressure-10,...,Pressure-23,Pressure-24,Pressure-25,Pressure-26,Pressure-27,Pressure-28,Pressure-29,Pressure-30,Pressure-31,Pressure-32
0,0.0,69.887,66.305,66.034,65.552,65.268,65.247,65.165,65.136,65.103,...,65.176,65.063,65.020,64.909,64.881,64.664,64.526,64.531,64.569,64.655
1,0.0,69.909,67.017,66.791,66.386,66.151,66.132,66.071,66.050,66.025,...,66.127,66.035,65.997,65.896,65.871,65.698,65.559,65.565,65.600,65.676
2,0.0,69.930,67.703,67.528,67.216,67.034,67.020,66.972,66.954,66.935,...,67.004,66.933,66.904,66.832,66.808,66.659,66.552,66.554,66.581,66.639
3,0.0,69.938,67.962,67.811,67.542,67.384,67.373,67.333,67.319,67.303,...,67.356,67.293,67.269,67.202,67.188,67.068,66.977,66.982,67.005,67.055
4,0.0,69.948,68.299,68.172,67.944,67.811,67.801,67.766,67.753,67.740,...,67.786,67.730,67.709,67.645,67.637,67.545,67.466,67.472,67.492,67.535
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17519995,0.0,69.550,66.222,65.885,65.294,64.721,64.625,64.467,64.330,64.266,...,65.102,64.743,64.526,64.092,63.995,64.491,64.121,64.049,64.152,64.235
17519996,0.0,69.586,66.514,66.195,65.633,65.088,64.998,64.856,64.730,64.671,...,65.502,65.172,64.973,64.548,64.461,64.943,64.585,64.515,64.630,64.718
17519997,0.0,69.643,67.007,66.743,66.277,65.829,65.754,65.634,65.528,65.479,...,66.140,65.856,65.693,65.336,65.245,65.697,65.423,65.344,65.426,65.495
17519998,0.0,69.697,67.459,67.234,66.837,66.454,66.391,66.288,66.196,66.154,...,66.700,66.458,66.312,66.011,65.943,66.288,66.027,65.980,66.062,66.124
17519999,0.0,69.747,67.867,67.677,67.342,67.024,66.973,66.891,66.817,66.783,...,67.241,67.051,66.936,66.682,66.634,66.938,66.753,66.700,66.754,66.797

In [15]:
p_df.to_csv(f'{endpoint1}/Pressure_csv_file.csv')

# Flow

In [3]:
%%time
f_lists = [[] for _ in range(34)]
for sen in range(1,1001):
	for i in range(1,35):
		file_name = f"{endpoint}/Scenario-{sen}/Flows/Link_{i}.csv"
		dt = pd.read_csv(file_name,usecols=['Value'])
		f_lists[i-1].append(dt["Value"].tolist())

CPU times: total: 2min 13s
Wall time: 19min 6s

In [4]:
%%time
nl = [[] for _ in range(34)]
for i in range(len(f_lists)):
    nl[i] = sum(f_lists[i],[])
    f_lists[i] = nl[i]

CPU times: total: 49min 12s
Wall time: 1h 26min 56s

In [7]:
%%time
f_df = pd.DataFrame(columns=[f"Flow-{i}" for i in range(1, 35)])
for i in range(1, 35):
    f_df[f"Flow-{i}"] = f_lists[i-1]
f_df

CPU times: total: 52.7 s
Wall time: 2min 19s

,Flow-1,Flow-2,Flow-3,Flow-4,Flow-5,Flow-6,Flow-7,Flow-8,Flow-9,Flow-10,...,Flow-25,Flow-26,Flow-27,Flow-28,Flow-29,Flow-30,Flow-31,Flow-32,Flow-33,Flow-34
0,3337.2,3186.0,1245.6,1220.4,1119.6,946.8,730.8,644.4,554.4,334.8,...,442.8,-187.2,-32.4,28.8,100.8,46.8,-7.2,-72.0,90.0,223.2
1,2973.6,2836.8,1130.4,1112.4,1011.6,856.8,626.4,547.2,475.2,295.2,...,414.0,-180.0,-28.8,25.2,90.0,50.4,-10.8,-68.4,82.8,208.8
2,2584.8,2462.4,982.8,964.8,882.0,741.6,550.8,486.0,414.0,259.2,...,360.0,-147.6,-28.8,21.6,79.2,43.2,-3.6,-61.2,72.0,187.2
3,2419.2,2311.2,907.2,892.8,813.6,673.2,496.8,435.6,374.4,237.6,...,331.2,-144.0,-21.6,21.6,72.0,39.6,-7.2,-57.6,68.4,165.6
4,2196.0,2095.2,828.0,817.2,741.6,612.0,464.4,406.8,345.6,219.6,...,306.0,-140.4,-14.4,25.2,64.8,36.0,-7.2,-50.4,61.2,151.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17519995,5500.8,5263.2,2109.6,2073.6,1886.4,1623.6,1242.0,1076.4,936.0,583.2,...,720.0,-327.6,-90.0,10.8,219.6,129.6,28.8,-72.0,104.4,342.0
17519996,5256.0,5040.0,2052.0,2016.0,1836.0,1558.8,1173.6,1029.6,892.8,576.0,...,684.0,-324.0,-86.4,-0.0,208.8,129.6,25.2,-79.2,104.4,316.8
17519997,4852.8,4640.4,1854.0,1825.2,1652.4,1414.8,1072.8,936.0,810.0,496.8,...,615.6,-295.2,-90.0,-0.0,183.6,111.6,28.8,-64.8,93.6,277.2
17519998,4438.8,4248.0,1699.2,1674.0,1515.6,1288.8,986.4,867.6,741.6,450.0,...,579.6,-270.0,-75.6,7.2,176.4,108.0,21.6,-64.8,86.4,270.0
17519999,4028.4,3866.4,1548.0,1526.4,1371.6,1152.0,874.8,770.4,662.4,406.8,...,507.6,-244.8,-64.8,7.2,151.2,90.0,21.6,-50.4,72.0,230.4

In [9]:
f_df.to_csv(f'{endpoint1}/Flows_csv_file.csv')

# Final Dataframe

In [3]:
df1 = pd.read_csv(f"{endpoint1}/Pressure_csv_file.csv")
df2 = pd.read_csv(f"{endpoint1}/Flows_csv_file.csv")
df3 = pd.read_csv(f"{endpoint1}/Leak_csv_file.csv")

In [4]:
merged_df = df1.merge(df2, on='Unnamed: 0').merge(df3, on='Unnamed: 0')
merged_df

,Unnamed: 0,Pressure-1,Pressure-2,Pressure-3,Pressure-4,Pressure-5,Pressure-6,Pressure-7,Pressure-8,Pressure-9,...,leak-23,leak-24,leak-25,leak-26,leak-27,leak-28,leak-29,leak-30,leak-31,leak-32
0,0,0.0,69.887,66.305,66.034,65.552,65.268,65.247,65.165,65.136,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.0,69.909,67.017,66.791,66.386,66.151,66.132,66.071,66.050,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,0.0,69.930,67.703,67.528,67.216,67.034,67.020,66.972,66.954,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0.0,69.938,67.962,67.811,67.542,67.384,67.373,67.333,67.319,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,0.0,69.948,68.299,68.172,67.944,67.811,67.801,67.766,67.753,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17519995,17519995,0.0,69.550,66.222,65.885,65.294,64.721,64.625,64.467,64.330,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17519996,17519996,0.0,69.586,66.514,66.195,65.633,65.088,64.998,64.856,64.730,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17519997,17519997,0.0,69.643,67.007,66.743,66.277,65.829,65.754,65.634,65.528,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17519998,17519998,0.0,69.697,67.459,67.234,66.837,66.454,66.391,66.288,66.196,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17519999,17519999,0.0,69.747,67.867,67.677,67.342,67.024,66.973,66.891,66.817,...,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
lcols=[]
for i in range(32):
	col= f'leak-{i+1}'
	lcols.append(col)
lcols

['leak-1',
 'leak-2',
 'leak-3',
 'leak-4',
 'leak-5',
 'leak-6',
 'leak-7',
 'leak-8',
 'leak-9',
 'leak-10',
 'leak-11',
 'leak-12',
 'leak-13',
 'leak-14',
 'leak-15',
 'leak-16',
 'leak-17',
 'leak-18',
 'leak-19',
 'leak-20',
 'leak-21',
 'leak-22',
 'leak-23',
 'leak-24',
 'leak-25',
 'leak-26',
 'leak-27',
 'leak-28',
 'leak-29',
 'leak-30',
 'leak-31',
 'leak-32']

In [6]:
def leak_detect(sum):
    if(sum==0):
        return 0
    else:
        return 1

merged_df['Leak']=merged_df[lcols].sum(axis=1).apply(lambda x: leak_detect(x))

In [8]:
merged_df['Leak'].max()

1

In [9]:
merged_df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [13]:
!pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-12.0.0-cp311-cp311-win_amd64.whl (21.4 MB)
     -------------------------------------- 21.4/21.4 MB 159.6 kB/s eta 0:00:00
Requirement already satisfied: numpy>=1.16.6 in c:\users\karun\appdata\local\programs\python\python311\lib\site-packages (from pyarrow) (1.24.3)
Installing collected packages: pyarrow
Successfully installed pyarrow-12.0.0

[notice] A new release of pip available: 22.3 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
%%time
import pyarrow as pa
import pyarrow.csv as csv
new_pa_df = pa.Table.from_pandas(merged_df)

csv.write_csv(new_pa_df, 'merged_df.csv')

In [10]:
def normalize(df):
    result = df.copy()
    for feature_name in df.columns:
        max_value = float(df[feature_name].max())
        min_value = float(df[feature_name].min())
        df[feature_name].apply(lambda x: float(x))
        result[feature_name] = (df[feature_name] - min_value) / (max_value - min_value)
    return result

In [12]:
df_normalized = normalize(merged_df)
df_normalized

MemoryError: Unable to allocate 4.18 GiB for an array with shape (32, 17520000) and data type float64

In [ ]:
df_normalized.to_csv(f'{endpoint1}/normalised_csv_file.csv')

In [ ]:
# List of all lists of nodes
# leak_nodes_list
# p_nodes_list
# d_nodes_list
# f_nodes_list

In [ ]:
len(timestamp_list)

175200

In [ ]:
len(sen_list)

175200

In [ ]:
col = [timestamp_list, sen_list]

In [ ]:
for i in range(32):
    col = col + [d_nodes_list[i], p_nodes_list[i], f_nodes_list[i], leak_nodes_list[i]]

In [ ]:
col.append(f_nodes_list[32])
col.append(f_nodes_list[33])

In [ ]:
col_names = ['Timestamp', 'Scenario']
for i in range(1,33):
    col_names = col_names + [f'D_node-{i}', f'P_Node-{i}',f'F_Link-{i}', f'Leak_Node-{i}']

In [ ]:
col_names.append('F_Link-33')
col_names.append('F_Link-34')

In [ ]:
len(col_names)

132

In [ ]:
len(col)

132

In [ ]:
final_dataframe2 = pd.DataFrame(col, col_names)

In [ ]:
final_dataframe2 = final_dataframe2.T
final_dataframe2

,Timestamp,Scenario,D_node-1,P_Node-1,F_Link-1,Leak_Node-1,D_node-2,P_Node-2,F_Link-2,Leak_Node-2,...,D_node-31,P_Node-31,F_Link-31,Leak_Node-31,D_node-32,P_Node-32,F_Link-32,Leak_Node-32,F_Link-33,F_Link-34
0,01-01-2017 00:00,1,-3405.6,0.0,3405.6,0,147.6,69.901,3261.6,0,...,14.4,66.433,25.2,0,144.0,66.458,-36.0,0,54.0,198.0
1,01-01-2017 00:30,1,-2970.0,0.0,2970.0,0,154.8,69.923,2811.6,0,...,14.4,67.274,21.6,0,122.4,67.295,-32.4,0,46.8,169.2
2,01-01-2017 01:00,1,-2656.8,0.0,2656.8,0,126.0,69.937,2530.8,0,...,10.8,67.758,18.0,0,126.0,67.769,-21.6,0,32.4,158.4
3,01-01-2017 01:30,1,-2401.2,0.0,2401.2,0,108.0,69.948,2289.6,0,...,10.8,68.132,18.0,0,108.0,68.146,-25.2,0,36.0,144.0
4,01-01-2017 02:00,1,-2199.6,0.0,2199.6,0,111.6,69.956,2088.0,0,...,10.8,68.417,14.4,0,100.8,68.426,-21.6,0,32.4,133.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175195,31-12-2017 21:30,10,-5554.8,0.0,5554.8,0,237.6,69.811,5317.2,0,...,28.8,63.217,57.6,0,230.4,63.248,-39.6,0,68.4,298.8
175196,31-12-2017 22:00,10,-5252.4,0.0,5252.4,0,216.0,69.83,5040.0,0,...,28.8,63.89,50.4,0,208.8,63.923,-43.2,0,72.0,280.8
175197,31-12-2017 22:30,10,-4906.8,0.0,4906.8,0,219.6,69.85,4687.2,0,...,25.2,64.521,46.8,0,201.6,64.547,-39.6,0,61.2,266.4
175198,31-12-2017 23:00,10,-4572.0,0.0,4572.0,0,198.0,69.869,4370.4,0,...,21.6,65.291,46.8,0,187.2,65.309,-28.8,0,50.4,237.6
175199,31-12-2017 23:30,10,-4107.6,0.0,4107.6,0,180.0,69.892,3927.6,0,...,18.0,66.141,43.2,0,165.6,66.156,-28.8,0,46.8,212.4

# Exports

In [ ]:
# f_dataframe.to_csv(f'{endpoint1}/Flow_csv_file.csv')

In [ ]:
# p_dataframe.to_csv(f'{endpoint1}/Pressure_csv_file.csv')

In [ ]:
# d_df.to_csv(f'{endpoint1}/Demand_csv_file.csv')

In [35]:
# leak_df.to_csv(f'{endpoint1}/Leak_csv_file.csv')

In [ ]:
# final_dataframe.to_csv(f'{endpoint}/Final_csv_file.csv')

In [ ]:
# final_dataframe2.to_csv(f'{endpoint1}/Final_csv_file2.csv')

# End

In [ ]:
# leak_nodes_df=leak_nodes[0].copy()
# leak_nodes_df

              Timestamp  L_Node-1  Scenario
0      01-01-2017 00:00         0         1
1      01-01-2017 00:30         0         1
2      01-01-2017 01:00         0         1
3      01-01-2017 01:30         0         1
4      01-01-2017 02:00         0         1
...                 ...       ...       ...
17515  31-12-2017 21:30         0        10
17516  31-12-2017 22:00         0        10
17517  31-12-2017 22:30         0        10
17518  31-12-2017 23:00         0        10
17519  31-12-2017 23:30         0        10

[175200 rows x 3 columns]

In [ ]:
# leak_nodes_df = pd.merge(leak_nodes_df,leak_nodes[1],on=['Scenario','Timestamp'])

In [ ]:
# leak_nodes_df = pd.merge(leak_nodes_df,leak_nodes[2],on=['Scenario','Timestamp'])

In [ ]:
# leak_nodes_df = pd.merge(leak_nodes_df,leak_nodes[3],on=['Scenario','Timestamp'])
# leak_nodes_df

               Timestamp  L_Node-1  Scenario  L_Node-2  L_Node-3  L_Node-4
0       01-01-2017 00:00         0         1         0         0         0
1       01-01-2017 00:30         0         1         0         0         0
2       01-01-2017 01:00         0         1         0         0         0
3       01-01-2017 01:30         0         1         0         0         0
4       01-01-2017 02:00         0         1         0         0         0
...                  ...       ...       ...       ...       ...       ...
175195  31-12-2017 21:30         0        10         0         0         0
175196  31-12-2017 22:00         0        10         0         0         0
175197  31-12-2017 22:30         0        10         0         0         0
175198  31-12-2017 23:00         0        10         0         0         0
175199  31-12-2017 23:30         0        10         0         0         0

[175200 rows x 6 columns]

In [ ]:
# for i in range(4, 32):
# 	leak_nodes_df = pd.merge(leak_nodes_df,leak_nodes[i],on=['Timestamp'], how='outer')

<ipython-input-15-8e8532c0851b>:2: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Scenario_x'} in the result is deprecated and will raise a MergeError in a future version.
  leak_nodes_df = pd.merge(leak_nodes_df,leak_nodes[i],on=['Timestamp'], how='outer')

In [ ]:
# leak_nodes_df

In [ ]:
# for i in range(71):
#     print(leak_nodes_df.columns[i])